@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

<div class="custom-input">
    <label>@Label</label>
    <InputText
        Value="@Value"
        ValueChanged="@ValueChanged"
        ValueExpression="@ValueExpression"
        type="@Type"
        class="input-field" />
    <ValidationMessage For="@ValueExpression" />
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Type { get; set; } = "text";

    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    [Parameter] public Expression<Func<string>> ValueExpression { get; set; }
}
